<fieldset>
  <p>
    <label>Title:</label>
    <input type="text" name="post[title]" value="<%= @post.title %>" />
  </p>
  <% unless @post.new_record? %>
  <p>
    <label>Slug:</label>
    <input type="text" name="_slug" value="<%= @post.slug %>" readonly />
  </p>
  <% end %>
  <p>
    <label>Tags:</label>
    <input type="text" name="post[tag_list]" value="<%= @post.tag_list %>" />
  </p>
  <p>
    <label>Content:</label>
    <textarea name="post[body_source]" rows="32" cols="40"><%= @post.body_source %></textarea>
  </p>
  <p>
    <label>&nbsp;</label>
    <label class="checkbox"><input type="checkbox" name="post[draft]" value="1" <%= "checked" if @post.draft %>/> Draft</label>
    <input type="hidden" value="0" name="post[draft]" />
  </p>
  <p class="indented">
    <input type="submit" value="Submit" class="button" /> or <a href="/posts">Cancel</a>
  </p>
</fieldset>
